@mixin buttonStyle($border_color, $text-color, $bg-color) {
  border: 1px solid $border_color;
  border-radius: 5px;
  font-weight: 500;
  font-family: Poppins;
  background-color: $bg-color;
  padding: 0.4rem 0.8rem;
  transition: ease-in-out 0.2s;
  cursor: pointer;
  color: $text-color;
  &:hover {
    background-color: $text-color;
    color: $bg-color;
  }
}

@mixin inputStyle() {
  font-family: Poppins;
  background: none;
  padding: 0.5rem;
  width: 100%;
  color: $color-2;
  backdrop-filter: blur(14px);
  border: 1px solid $color-5;
  border-radius: 3px;
}
@mixin commonStyle() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
